In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd

nba_df = pd.read_csv('nba.csv')

In [ ]:
# View the top rows - top 5 rows
nba_df.head()

In [ ]:
# View the last rows - last 5 rows
nba_df.tail()

In [ ]:
nba_df.set_index('Name', inplace=True)

nba_df.loc[['Avery Bradley', 'Jae Crowder']]

In [ ]:
nba_df.iloc[0]

In [ ]:
nba_df.index[0]

In [ ]:
nba_df.head()

In [ ]:
# Tue Nov 17, 2020

In [ ]:
# Get the number of rows: len(df)
len(nba_df)

In [ ]:
nba_df.reset_index(inplace=True)

# Return a tuple representing the dimensionality of the DataFrame.
nba_df.shape

In [ ]:
nba_df.head()

In [ ]:
# Generate descriptive statistics.
nba_df.describe()

In [ ]:
# Count non-NA cells for each column or row.
nba_df.count()

In [ ]:
# pandas Series.str.lower

nba_df['Team_lower'] = nba_df['Team'].str.lower()

nba_df.head()

In [ ]:
nba_df.drop(columns=['Team_lower'], inplace=True)

nba_df.head()

In [ ]:
nba_df['Team'] = nba_df['Team'].str.lower()

nba_df.head(10)

In [ ]:
# pandas.Series.str.upper
# Convert strings in the Series/Index to uppercase.

nba_df['Team'] = nba_df['Team'].str.upper()

nba_df.head()

In [ ]:
nba_df['Name_Capital'] = nba_df['Name'].str.upper()

nba_df.head()

In [ ]:
nba_df.drop(columns=['Name_Capital'], inplace=True)


nba_df.head()

In [ ]:
# pandas.DataFrame.replace
# Replace values given in to_replace with value.

#nba_df['Age'] = nba_df['Age'].replace(25.0, 'Twenty five')

nba_df.head()

In [ ]:
# Filtering Data Frames


nba_texas = nba_df[nba_df['College'] == 'Texas']

nba_texas.reset_index(inplace=True, drop=True)

nba_texas.head()

In [ ]:
len(nba_texas)

In [ ]:
nba_df_number_20 = nba_df[nba_df['Number'] == 20.0 ]

len(nba_df_number_20)

In [ ]:
nba_df_salary_2m = nba_df[nba_df['Salary'] >  20000000]


len(nba_df_salary_2m)

In [ ]:
nba_position = nba_df[nba_df['Position'] == 'SG']

nba_position.tail()

In [ ]:
nba_pos = nba_df[nba_df['Position'] == 'PG']
nba_pos.reset_index(drop=True, inplace=True)
nba_pos.head()

In [ ]:
nba_indiana = nba_df[nba_df['Team'] == 'Indiana Pacers']

len(nba_indiana)

In [ ]:
# from washington  AND  is 27
nba_wsh_under_25 = nba_df[(nba_df['Age'] > 27) & (nba_df['College'] == 'Washington')]

nba_wsh_under_25.head()

In [ ]:

    
nba_wsh_or_under_25 = nba_df[(nba_df['Age'] == 27)  | (nba_df['College'] == 'Washington')]

nba_wsh_or_under_25.head(10)

In [ ]:
len(nba_wsh_or_under_25)

In [ ]:
nba_df.dtypes

In [ ]:
nba_df.astype({'Age': 'float64'})

In [ ]:
nba_wsh_or_under_25 = nba_df[(nba_df['Age'] < 25)  | (nba_df['College'] == 'Washington')]

In [ ]:
nba_wsh_or_under_25.head(10)

In [ ]:
#Filteroida ika yli 25 ja nimi alkaa A kirjaimella

nba_25A = nba_df[(nba_df["Age"] > 25) & (nba_df["Name"].str.startswith("A"))]
nba_25A.reset_index(drop=True, inplace=True)
nba_25A.head()

### Working with Missing Data

In [ ]:
# isnull 


import numpy as np 

dict = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}


scores_df = pd.DataFrame(dict)

scores_df

In [ ]:
scores_df.isnull()

In [ ]:
pd.isnull(scores_df)

In [ ]:
scores_df.notnull()

In [ ]:
employees_df = pd.read_csv('employees.csv')

In [ ]:
employees_df.head()

In [ ]:
len(employees_df)

In [ ]:
gender_boolean = pd.isnull(employees_df['Gender'])

gender_boolean.head(5)

In [ ]:
employees_df[gender_boolean]

In [ ]:
employees_df.isna().head(20)

In [ ]:
employees_df.loc[employees_df['Gender'].isnull() == True]

In [ ]:
#dropna

# Remove missing values.


employee_dropped = employees_df.dropna(axis=0, how='all') # 0, or ‘index’ : Drop rows which contain missing values.

In [ ]:
employee_dropped.shape

In [ ]:
employee_dropped.head()

In [ ]:
# fillna()
#Fill NA/NaN values using the specified method.
# DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)



import numpy as np 

dict = {
    'First Score': [100, 90, np.nan, 95],
    'Second Score': [30, 45, 56, np.nan],
    'Third Score': [np.nan, 40, 80, 98]
}


scores_df = pd.DataFrame(dict)

scores_df

In [ ]:
# Code 1 filling with a single value

scores_fillna1 = scores_df.fillna(value=0)

scores_fillna1

In [ ]:
# Code 2, FIlling null values with the previous ones.

scores_fillna2 = scores_df.fillna(method='ffill') #pad, 

scores_fillna2

In [ ]:
# Code 3, FIlling null values with the next ones.


scores_fillna3 = scores_df.fillna(method='bfill') #back-fill, 

scores_fillna3

In [ ]:
scores_df

In [ ]:
# filling only selected column


scores_df['First Score'].fillna(value=-10, inplace=True)

scores_df