In [1]:
import pandas as pd

capital_region = ["Helsinki", "Espoo", "Vantaa", "Kauniainen"]

df = pd.DataFrame(capital_region)

df

            0
0    Helsinki
1       Espoo
2      Vantaa
3  Kauniainen

In [3]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
my_names = ["Jere", "Joakim", "Manni"]

name_df = pd.DataFrame(my_names, columns=["Nimet"])

name_df

    Nimet
0    Jere
1  Joakim
2   Manni

In [14]:
cities_finnish = ["Helsinki", "Espoo", "Vantaa", "Kauniainen"]
cities_swedish = ["Helsingfors", "Esbo", "Vanda", "Grandkulla"]

df_finswe = pd.DataFrame(list(zip(cities_finnish,cities_swedish)), columns=["Finnish", "Swedish"])
df_finswe

      Finnish      Swedish
0    Helsinki  Helsingfors
1       Espoo         Esbo
2      Vantaa        Vanda
3  Kauniainen   Grandkulla

In [17]:
# Using lists in dict to create dataframe

cities = ["Helsinki", "Espoo", "Vantaa", "Kauniainen"]
vaesto = [655281, 290200, 233383, 9800]
perustettu = [1550, 1400, 1331, 1920]

#dict

cities_dict = {"kaupunki":cities, "väkiluku":vaesto, "perustettu":perustettu}

df = pd.DataFrame(cities_dict)

df

     kaupunki  väkiluku  perustettu
0    Helsinki    655281        1550
1       Espoo    290200        1400
2      Vantaa    233383        1331
3  Kauniainen      9800        1920

In [18]:
etunimi = ["Pekka", "Jorma", "Liisa", "Anne"]
sukunimi = ["Pikkolo", "Karhu", "Tiitinen", "Markula"]
syntymavuosi = [1976,1978,1982,1991]

henkilotiedot_dict = {"Etunimi":etunimi, "Sukunimi":sukunimi, "Syntymävuosi":syntymavuosi}

df = pd.DataFrame(henkilotiedot_dict)

df

  Etunimi  Sukunimi  Syntymävuosi
0   Pekka   Pikkolo          1976
1   Jorma     Karhu          1978
2   Liisa  Tiitinen          1982
3    Anne   Markula          1991