In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series()
print(ser)

Series([], dtype: float64)

C:\Users\Jefis\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [7]:
data_arr = np.array(['t','a','i','t','o'])
print (data_arr)

data_ser = pd.Series(data_arr)
print("Pandas series:\n", data_ser)

['t' 'a' 'i' 't' 'o']
Pandas series:
 0    t
1    a
2    i
3    t
4    o
dtype: object

In [9]:
data_ser2 = pd.Series(data_arr, index = [10,11,12,13,14])

print(data_ser2)

10    t
11    a
12    i
13    t
14    o
dtype: object

In [13]:
data_arr_zeros = np.zeros(5)
print(data_arr_zeros)

data_ser_zeros = pd.Series(data_arr_zeros, index = [6,7,8,9,10])
print("Pandas series with index: ", data_ser_zeros, sep="\n")

[0. 0. 0. 0. 0.]
Pandas series with index:
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
dtype: float64

In [14]:
kurssin_nimi_lista = ["Taitotalo", "Python", "Koulutus"]
kurssin_nimi_series = pd.Series(kurssin_nimi_lista)
kurssin_nimi_series

0    Taitotalo
1       Python
2     Koulutus
dtype: object

In [15]:
numbers_list = [10,20,30,40,50]
index_list = ["a","b","c","d","e"]
numbers_series= pd.Series(numbers_list,index=index_list)
numbers_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [17]:
programming_languages_list = ["Python","C","Java", "Scala", "R"]
programming_languages_Series = pd.Series(programming_languages_list, index_list)
programming_languages_Series

a    Python
b         C
c      Java
d     Scala
e         R
dtype: object

In [18]:
programming_languages_Series[0]

'Python'

In [19]:
test_series =pd.Series(programming_languages_list)
test_series

0    Python
1         C
2      Java
3     Scala
4         R
dtype: object

In [21]:
import pandas as pd
lst = ['Python', 'C', 'Java', 'Scala', 'R', 'SQL','HTML', 'C++']

prog_land_series = pd.Series(lst)
prog_land_series

0    Python
1         C
2      Java
3     Scala
4         R
5       SQL
6      HTML
7       C++
dtype: object

In [22]:
lista2=[]
for x in lst:
    for a in x:
        lista2.append(a)
        
data=pd.Series(lista2)
print(data)

0     P
1     y
2     t
3     h
4     o
5     n
6     C
7     J
8     a
9     v
10    a
11    S
12    c
13    a
14    l
15    a
16    R
17    S
18    Q
19    L
20    H
21    T
22    M
23    L
24    C
25    +
26    +
dtype: object

In [23]:
sanakirja = {'A':10, 'B':20, 'C':30}
sanakirja_ser = pd.Series(sanakirja)
print(sanakirja_ser)

A    10
B    20
C    30
dtype: int64

In [24]:
sanakirja2 = {'A':10, 'B':20, 'C':30}
sanakirja_ser2 = pd.Series(sanakirja, index=['C','A','B'])
print(sanakirja_ser2)

C    30
A    10
B    20
dtype: int64

In [25]:
sanakirja3 = {'A':10, 'B':20, 'C':30}
sanakirja_ser3= pd.Series(sanakirja, index=['C','D','A','B'])
print(sanakirja_ser3)

C    30.0
D     NaN
A    10.0
B    20.0
dtype: float64

In [26]:
sanakirja4 = {'A':10, 'B':20, 'C':30}
sanakirja_ser4 = pd.Series(sanakirja, index=['H','J','K'])
print(sanakirja_ser4)

H   NaN
J   NaN
K   NaN
dtype: float64

In [29]:
dictionary = {'A':10, 'B':20, 'C':30}
series2=pd.Series(dictionary)

series2.index= ["Alice","Brian", "Celine"]
print(series2)

Alice     10
Brian     20
Celine    30
dtype: int64

In [30]:
#Creating a series from scalar value

ser10 = pd.Series(10, index=[0,1,2,3,4,5])
print(ser10)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [31]:
serA = pd.Series('A', index =[0,1,2,3])
print(serA)

0    A
1    A
2    A
3    A
dtype: object

In [32]:
linespace_array = np.linspace(3,33,3)
linespace_set = pd.Series(linespace_array)
linespace_set

0     3.0
1    18.0
2    33.0
dtype: float64

In [33]:
ser_normal = pd.Series(np.random.normal(0,1,5))
ser_normal

0    1.377675
1   -1.405156
2    0.069693
3    0.364064
4    0.320197
dtype: float64

In [34]:
array_repeat = np.repeat(0.08,7)
array_repeat

array([0.08, 0.08, 0.08, 0.08, 0.08, 0.08, 0.08])